<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/style.css">
	<title>All products</title>
</head>
<body>
	<div class="left-pane">
		<span>dashboard</span>
		<span>products</span>
		<span>customers</span>

	</div>
	<div class="center-pane">
		<table class="items-table">
			<tr>
				<th>ID</th>
        		<th>Code</th>
        		<th>Name</th>
        		<th>Cost Price</th>
   			</tr>
   			<tr>
   				<td>1</td>
   				<td>fffff</td>
   				<td>ffff</td>
   				<td>100</td>
   			</tr>
   			<tr>
   				<td>1</td>
   				<td>fffff</td>
   				<td>ffff</td>
   				<td>100</td>
   			</tr>
   			<tr>
   				<td>1</td>
   				<td>fffff</td>
   				<td>ffff</td>
   				<td>100</td>
   			</tr>
   			<tr>
   				<td>1</td>
   				<td>fffff</td>
   				<td>ffff</td>
   				<td>100</td>
   			</tr>
		</table>
	</div>
	<div>dfdfdfdfdfdf</div>

</body>
</html>